.sidebar{
    display: flex;
    background-color: #E4D77E;
    width: 80px;
    min-height: 100vh;
    z-index: 999;
    position: fixed;
}

.sidebar-list{
    width: 100%;
}

.sidebar-item{
    height: 4rem;
    display: flex;
    background-color: #683431;
    color: #E4D77E;
    justify-content: center;
    align-items: center;
}

.navbar{
    height: 4rem;
}

.navbar-custom{
    background-color: #E4D77E;
    border-bottom: 2px solid #683431;
    padding: 0;
}

.navbar-item{
    display: flex;
    background-color: #683431;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 1rem;
    color: #E4D77E;
}

.navbar-item-brand{
    font-weight: bold;
    font-size: 1.3rem !important;
}

.navbar-right-items{
    height: inherit;
}

.wrapper{
    padding-left: 80px;
}

.header{
    background-color: #885923;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}
.header-middle-square{
    background-color: #6B3D2E;
    min-width: 80vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    border: 2px dashed #E4D77E;
}

.section{
    background-color: white
}

.section-item{
    text-align: center;
}

.section-item-image{
    height: 160px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-item-image-file{
    border: 1px solid black;
    height: 90px;
    width: 90px;

}

.section-item-header{
    font-size: 1.2rem;
}

.side-section{
    justify-content: center;
}

.map-route{
    height: 30rem;
}

.map-points{
    height: 30rem;
}

footer{
    background-color: #885923;
    color: white;
    text-align: center;
}

.footer-info{
    margin: 1.4rem 0;
}

.footer-info > h1{
    margin-bottom: 1rem;
}

.inline-icon{
    margin-right: .5rem;
}

.footer-social-list{
    margin-top: .6rem;
}

.footer-social-list > a{
    color: white;
    margin: 0 .4rem;
}

.footer-social-list-net{
    font-size: 1.3rem;
}

@media (min-width: 992px) {
    .navbar{
        display: none;
    }
}

@media (max-width: 991.98px) { 
    .sidebar{
        display: none !important;
    }
    .wrapper{
        padding-left: 0 !important;
        margin-top: 4rem;
    }
    .header{
        min-height: 50vh;
    }
    .header-middle-square > h1{
        font-size: 1.75rem;
    }
    .header-middle-square{
        min-height: 30vh;
        min-width: 80vw;
    }
}