.sidebar{
    display: flex;
    background-color: #E4D77E;
    width: 80px;
    min-height: 100vh;
    z-index: 999;
    position: fixed;
}

.sidebar-list{
    width: 100%;
}

.sidebar-item{
    height: 2.5rem;
    display: flex;
    background-color: #683431;
    color: #E4D77E;
    justify-content: center;
    align-items: center;
}

.wrapper{
    padding-left: 80px;
}

.header{
    background-color: #885923;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    color: white;
}
.header-middle-square{
    background-color: #6B3D2E;
    min-width: 80vw;
    min-height: 80vh;
    justify-content: center;
    align-items: center;
    border: 2px dashed #E4D77E;
}

.section{
    background-color: white
}

.section-item{
    text-align: center;
}

.section-item-image{
    height: 100px;
    border: 1px solid black;
    display: flex;
}

.section-item-image-file{

}

.section-item-header{
    font-size: 1.2rem;
}